 <style>
   .navbar:not(.navbar-transparent) .logo-small {
    width: 160px;
    height: 46px;
  }

  .img-fluid {
    margin-top: 5px;
  }
  .navbar.bg  {
    background-color: #4f418f;
    color: #4f418f;
  }
 </style>

 <nav class="navbar navbar-expand-lg bg-dark" style="background-color: #4f418f;">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">
              <div class="logo-big">
              <img src="/img/GrantchainLogo.png" class="img-fluid">
              </div>
              <div class="logo-small" style="width: 160px; height: 46px;">
                <img src="/img/GrantchainLogo.png" class="img-fluid" style="margin-top: 5px;">
              </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            </button>
           </div>

            <div class="collapse navbar-collapse">
              <div class="dropdown">
              <button onclick="window.location.href = '/auth/join';" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 804px;">
                <b><a>Join Now</a></b>
              </button>
            </div>
        </div>
    </div>
</nav>
