<head>
  <link href="/css/gc-custom.css" rel="stylesheet" />
  <link href="/css/material-kit.css" rel="stylesheet" />
  <link href="/css/material-kit.css.map" rel="stylesheet" />
  <link href="/css/material-kit.min.css" rel="stylesheet" />
</head>

<body class="ecommerce-page sidebar-collapse">
  <div class="page-header header-filter header-small bg-info" data-parallax="true" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <div class="brand">
            <h1 class="title">Your Collaborations</h1>
            <h4>Lorem ipsum</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">
    
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-background" style="">
              <div class="card-body">
                <h6 class="card-category text-info">Posted</h6>
                <a href="#">
                  <h3 class="card-title">Space for Humanity; Education Grant for K-12</h3>
                </a>
                <p class="card-description">
				Nulla sed est massa. Nam sodales laoreet odio, id interdum libero pharetra at. Phasellus et felis quis massa vehicula sagittis...                </p>
                <a href="#" class="btn btn-white btn-round">
                  <i class="material-icons">subject</i> Read
                </a>
              </div>
            </div> <!-- end card -->
          </div>
          <div class="col-md-4">
            <div class="card card-background" style="">
              <div class="card-body">
                <h6 class="card-category text-info">Draft</h6>
                <h3 class="card-title">Space for Humanity; Arts Grant</h3>
                <p class="card-description">
				Nulla sed est massa. Nam sodales laoreet odio, id interdum libero pharetra at. Phasellus et felis quis massa vehicula sagittis...                </p>
                </p>
                <a href="#" class="btn btn-white btn-round">
                  <i class="material-icons">subject</i> Read
                </a>
              </div>
            </div> <!-- end card -->
          </div>
          <div class="col-md-4">
            <div class="card card-background" style="">
              <div class="card-body">
                <h6 class="card-category text-info">Complete</h6>
                <a href="#">
                  <h3 class="card-title">Space for Humanity; Social Impact Grant</h3>
                </a>
                <p class="card-description">
				Nulla sed est massa. Nam sodales laoreet odio, id interdum libero pharetra at. Phasellus et felis quis massa vehicula sagittis...                </p>
                </p>
                <a href="#" class="btn btn-white btn-round">
                  <i class="material-icons">subject</i> Read
                </a>
              </div>
            </div> <!-- end card -->
            <div>
				<a class="btn btn-info btn-round">Create New Collaboration</a>
			</div>
          </div>
        </div>
      </div>
    </div><!-- section -->
  </div>