<body class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/spaceforhumanity-banner.jpg');">
  <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <div class="brand">
            <h1 class="title">Space for Humanity</h1>
            <h4>Organization Profile</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="profile-content">
    	<div class="container">
        <div class="description text-center" style="padding-top: 50px;">
        
        <form class="form" method="" action="">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="The Name of Organization is...">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Your organization's Mission Statement is...">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Your name is..." />
                      </div>
                    </div>
                    
                    <div class="text-center">
                      <a href="org-profile.html" class="btn btn-primary btn-round btn-info">Save</a>
                    </div>
                  </form>
        
        <div class="tab-content tab-space">
        </div>
        </div>
    </div>
  </div>