<html>
    <head>
        <body>
            <button
                    data-dh-feature="network"
                    data-dh-property-enable>
                    *Button Text*
                </button>
            <script
                src="https://package.dapphero.io/main.js"
                id="dh-apiKey"
                data-api="1581826065918x521448426389897200">
            </script>
            <div
                data-dh-feature="network"
                data-dh-property-id="true">
                *placeholder text*
            </div>
            <div
                data-dh-feature="network"
                data-dh-property-name="true">
                *placeholder text*
            </div>
            <div
                data-dh-feature="network"
                data-dh-property-provider="true">
                *placeholder text*
            </div>
            <div
                data-dh-feature="customContract"
                data-dh-property-contract-name="fund grants"
                data-dh-property-method-name="createFundMe"
                data-dh-property-method-id="0001"
                data-dh-property-auto-invoke="true"
            </div>
            <input
                data-dh-property-method-id="0001"
                data-dh-property-input-name="_firstName"
                value="Ziggy"
                style="display:none;"/>
            <input
                data-dh-property-method-id="0001"
                data-dh-property-input-name="_lastName"
                value="Stardust"
                style="display:none;"/>
            <input
                data-dh-property-method-id="0001"
                data-dh-property-input-name="_description"
                value="Ziggy played guitar"
                style="display:none;"/>
            <input
                data-dh-property-method-id="0001"
                data-dh-property-input-name="_amountNeeded"
                value="100"
                style="display:none;"/>
            <div
                data-dh-feature="customContract"
                data-dh-property-contract-name="fund grants"
                data-dh-property-method-name="getDeployedFundraisers"
                data-dh-property-method-id="0002"
                data-dh-property-auto-invoke="false"
                data-dh-property-outputs="true">
                *-Placeholder for returned data-*
            </div>
            <button
                data-dh-property-method-id="0002"
                data-dh-property-invoke="true">
                Click me!
            </button>
        </body>
    </head>
</html>
