<div class="pricing-3 section-image" style="background-image: url('/img/up.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h2 class="title" style="font-size: 36px;">Let's make an Impact together</h2>
              <h5 class="description" style="font-size: 22px;">"If everyone is moving forward together, then success take care of itself." - Henry Ford</h5>
              <div class="section-space"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 ml-auto">
              <div class="card card-pricing">
                <div class="card-body ">
                  <h6 class="card-category">Become a Collaborator</h6>
                  <h1 class="card-title">
                    <small><b>Are you a student?</b></small>
                  </h1>
                  <ul>
                    <li style="color:#434f5e; font-weight: 500;">
                      <b>•</b> Collaborate with Non-Profits
                    <li style="color:#434f5e; font-weight: 500;">
                      <b>•</b> Get rewarded for the work you do</li>
                    <li style="color:#434f5e; font-weight: 500;">
                      <b>•</b> Build your portfolio</li>
                    <li style="color:#434f5e; font-weight: 500;">
                      <b>•</b>Make an impact</li>
                  </ul>
                  <a href="/auth/signup" class="btn btn-primary btn-round">
                    Get Started
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mr-auto">
              <div class="card card-pricing card-raised bg-primary">
                <div class="card-body">
                  <h6 class="card-category">Discover Grants</h6>
                  <h1 class="card-title">
                    <small><b>Are you a Non-Profit?</b></small>
                  </h1>
                  <ul>
                    <li style="color:#fff; font-weight: 500;">
                      <b>•</b> Find Grant Writers
                    <li style="color:#fff; font-weight: 500;">
                      <b>•</b> Hire for any scope of work
                    <li style="color:#fff; font-weight: 500;">
                      <b>•</b> Build a pool of diverse experts
                    <li style="color:#fff; font-weight: 500;">
                      <b>•</b> Have a go-to team 
                  </ul>
                  <a href="/auth/signup" class="btn btn-white btn-round">
                    Get Started
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>