<head>
  <link href="/css/gc-custom.css" rel="stylesheet" />
  <link href="/css/material-kit.css" rel="stylesheet" />
  <link href="/css/material-kit.css.map" rel="stylesheet" />
  <link href="/css/material-kit.min.css" rel="stylesheet" />
</head>

<body class="profile-page sidebar-collapse">
  <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('/img/eth.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <div class="brand">
            <h1 class="title">ETH Denver</h1>
            <h4>Organization Profile</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="">
    	<div class="container">
        <div class="corner-controls"><a href="org-profile-edit.html"><i class="material-icons icon-info">edit</i></a></div>
        <div class="description text-center" style="padding-top: 50px;">
        <div class="card-title">
        	<h3>Mission Statement</h3>
          	<p>We encourage developers, technologists, cypher punks, coders, crypto-economists, designers, makers, and the like to apply. Our ecosystem is bottom up. Emergent. A ground swell of diverse intelligences who are committed to #BUIDLing the decentralized future. The ETHDenver #BUIDLathon is about bringing together like minds around a common purpose. Distributed computing is the future, and Colorado is a leading community supporting this emerging technology. Our event is about empowering participants to shape this new world, while cementing the Rocky Mountain region and the State of Colorado as a thriving hub of blockchain innovation.</p>
       		<p><span class="light-text">Headquarters:</span> Denver, CO, USA</p>
       	</div>
        </div>
        
        <div class="description text-center" style="padding-top: 40px;">
        	<div class="card-title">
        		<h3>Point of Contact</h3>
        		<p>Mary Smith</p>
        	</div>
        </div>
        <div class="tab-content tab-space">
        </div>
        </div>
        <div class="container line">
        	<div class="description text-center" style="padding-top: 50px;">
			<div class="card-title">
				<h3>Reviews</h3>
			</div>
			<h4>John R.</h4>
				<p>Nulla sed est massa. Nam sodales laoreet odio, id interdum libero pharetra at. Phasellus et felis quis massa vehicula sagittis.</p>
			<h4>Lisa J.</h4>
				<p>Nam sodales laoreet odio, id interdum libero pharetra at. Phasellus et felis quis massa vehi.</p>
			</div>
			<div class="tab-content tab-space">
			</div>
      </div>
    </div>
  </div>