<head>
  <link href="/css/gc-custom.css" rel="stylesheet" />
  <link href="/css/material-kit.css" rel="stylesheet" />
  <link href="/css/material-kit.css.map" rel="stylesheet" />
  <link href="/css/material-kit.min.css" rel="stylesheet" />
</head>

<body class="profile-page sidebar-collapse">
  <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('/img/spaceforhumanity-banner.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <div class="brand">
            <h1 class="title">Space For Humanity</h1>
            <h4>Organization Profile</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="">
    	<div class="container">
        <div class="corner-controls"><a onclick="window.location.href='/organization/spaceforhumanity/edit';"><i class="material-icons icon-info">edit</i></a></div>
        <div class="description text-center" style="padding-top: 50px;">
        <div class="card-title">
        	<h3>Mission Statement</h3>
          	<p>Vision We envision a world where we embrace a culture of interconnectedness as we venture into the stars. Mission.We are expanding access to space, training our leaders of tomorrow, and cultivating a movement towards a more harmonious world.</p>
       		<p><span class="light-text">Headquarters:</span> Denver, CO, USA</p>
       	</div>
        </div>
        
        <div class="description text-center" style="padding-top: 40px;">
        	<div class="card-title">
        		<h3>Point of Contact</h3>
        		<p>Mary Smith</p>
        	</div>
        </div>
        <div class="tab-content tab-space">
        </div>
        </div>
        <div class="container line">
        	<div class="description text-center" style="padding-top: 50px;">
			<div class="card-title">
				<h3>Reviews</h3>
			</div>
			<h4>John R.</h4>
				<p>I helped Space for Humanity with research for a grant. They were great to work with.</p>
			</div>
			<div class="tab-content tab-space">
			</div>
      </div>
    </div>
  </div>